openapi: '3.0.3'
info:
  title: Blockmate
  description: Blockmate API OpenAPI documentation
  termsOfService: https://www.blockmate.io/term/terms-and-conditions
  version: '0.0.2'

servers:
- description: Blockmate API
  url: https://api.blockmate.io

paths:
  #
  # Authentication
  #
  /v1/auth:
    get:
      summary: Authenticate project
      operationId: UserAPI-AuthenticateProject
      tags:
        - Authentication
      security:
        - ProjectToken: [ ]
      responses:
        200:
          description: Returns a JWT for ProjectJWT
          content:
            application/json:
              schema:
                required:
                  - token
                type: object
                properties:
                  token:
                    type: string
                    example: some-token
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/auth/developer:
    get:
      summary: Authenticate developer
      operationId: UserAPI-AuthenticateDeveloper
      tags:
        - Authentication
      security:
        - ProjectToken: [ ]
      responses:
        200:
          description: Returns a JWT for UserJWT. This is a special user, mapped to the project. If you want to have multiple users, see User management.
          content:
            application/json:
              schema:
                required:
                  - token
                type: object
                properties:
                  token:
                    type: string
                    example: some-token
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  #
  # User management
  #
  /v1/users:
    get:
      summary: List users
      operationId: ListUsers
      tags:
        - User management
      security:
        - ProjectToken: [ ]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
    post:
      summary: Create user
      operationId: CreateUser
      tags:
        - User management
      security:
        - ProjectToken: [ ]
      requestBody:
        description: User
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: some-name
      responses:
        201:
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/users/{id}:
    get:
      summary: Get user
      operationId: GetUser
      tags:
        - User management
      security:
        - ProjectToken: [ ]
      parameters:
        - description: User id
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 4301140e-d639-11ec-9120-00155d03ab64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    post:
      summary: Update user
      operationId: UpdateUser
      tags:
        - User management
      security:
        - ProjectToken: [ ]
      parameters:
        - description: User id
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 4301140e-d639-11ec-9120-00155d03ab64
      requestBody:
        description: User
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: some-name
      responses:
        200:
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      summary: Delete user
      operationId: DeleteUser
      tags:
        - User management
      security:
        - ProjectToken: [ ]
      parameters:
        - description: User id
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 4301140e-d639-11ec-9120-00155d03ab64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not Found
  /v1/users/{id}/auth:
    get:
      summary: Authenticate user
      operationId: AuthUser
      tags:
        - User management
      security:
        - ProjectToken: [ ]
      parameters:
        - description: User id
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 4301140e-d639-11ec-9120-00155d03ab64
      responses:
        200:
          description: UserJWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    description: UserJWT
                    type: string
                    example: some-token
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not Found
  #
  # User account management
  #
  /v1/{account_provider}/connect:
    get:
      summary: Get account hint
      operationId: GetAccountHint
      tags:
        - User account management
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: account_provider
          required: true
          schema:
            type: string
            example: onchain/btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - description
                  - url
                  - intro
                  - fields
                  - oauth
                properties:
                  description:
                    example: Bitcoin (BTC)
                    type: string
                  url:
                    example: some-url
                    type: string
                  intro:
                    example: Use your address to connect your account.
                    type: string
                  fields:
                    type: object
                    additionalProperties:
                      type: string
                  oauth:
                    example: false
                    type: boolean
                  icon:
                    type: string
                    example: https://api.blockmate.io/v1/onchain/static/bitcoin.png
                  payment:
                    type: object
                    properties:
                      encryption_key:
                        type: string
                        description: Public RSA key used to encrypt sensitive parameters in payment methods. Use OAEP padding scheme when encrypting the parameters. Supported only for onchain/btc, onchain/eth, exchange/binance and exchange/coinbase.
                        example: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqUF7SFOH0pn44C/J5tpF\na/hnFU4WoQD+uOx3rjyzZK9XfOSOmJe6WDMB+kQ3jrIQWmgzLI0zmETYkH1HOKHl\nSpq1UOkAQt5hTJEHMEpJO3PuXmU9IqPjWAA8AE1YNAWu2xHELihDbiD9htSsiRVg\niCFZQnGjQX1gBvnu0CIPlzpnKQotKaf3RL3gBzrO66r2akN+w6XNqL3JlITsG+7v\noxNtizMjF2Ve4esrCpvWsyFgViTTTk/7WtcWrJqLg4JdPOLknBJV+eftpn4bHVF4\nQqcEhz0+QiyDCtNZ3ardCB5LA+/PNcGV5jG9Y4qe6BGhVX037O1pqZyCpKrD94SA\npwIDAQAB\n-----END PUBLIC KEY-----\n"
                      ip_addresses:
                        type: array
                        description: IP addresses whitelisted for payment methods. Supported only for exchange/binance and exchange/coinbase.
                        items:
                          type: string
                          example: 54.38.221.130
                      fields:
                        type: object
                        description: Supported only for exchange/binance and exchange/coinbase.
                        additionalProperties:
                          type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    example: not_found
                    type: string
    post:
      summary: Connect new account
      operationId: ConnectAccount
      tags:
        - User account management
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: account_provider
          required: true
          schema:
            type: string
            example: onchain/btc
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet
                - description
              properties:
                wallet:
                  type: string
                  example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
                description:
                  type: string
                  example: some-description
      responses:
        200:
          description: User
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                  - wallet
                  - description
                  - verified
                properties:
                  id:
                    type: string
                    example: 163b6df1-dc0b-4086-8922-6068fe1e653d
                  name:
                    type: string
                    example: some-name
                  wallet:
                    type: string
                    example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                  description:
                    type: string
                    example: some-description
                  verified:
                    type: boolean
                    example: false
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Account wallet already connected.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Invalid token or expired token.
        405:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Method Not Allowed
  /v1/{account_provider}/account/{account_id}:
    delete:
      summary: Delete account
      operationId: DeleteAccount
      tags:
        - User account management
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: account_provider
          required: true
          schema:
            type: string
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      responses:
        200:
          description: OK
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Invalid token or expired token.
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  #
  # Payments - transaction initiation
  #
  /v1/{exchange_provider}/account/{account_id}/payment/connect:
    post:
      summary: Create new exchange payment account
      operationId: CreateExchangePaymentAccount
      tags:
        - Payments - transaction initiation
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: exchange_provider
          required: true
          schema:
            enum:
              - exchange/binance
              - exchange/coinbase
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - api_key
                - api_secret
                - password
              properties:
                api_key:
                  example: "VD+IRQAmCU1PCv0oAE8HcDNOvEzWFyURybhN8uvuRCfoWkhSwxTCYdZv2aorAbk+Z5hfF10HsZXtc0ZUkFSobk+R4No7Byr8CIHYGCEjao+bLtVa0mhVCFDU2Mm8UrY5cC8VbD0rm6ja5+W6pEsjqrMZZkjW7BUP0YRGSBkzUD2qezrtXmOsx19wiF1w7Xxg0XJGngwsSqI44/k1oFpQEi6cH0txllnmfAT0uHJt6crov1HuzwKP6drvHDyAQblAUibqcyvfwurPaNiNGCWxHqnmiY/X8EQLgGfMIqgHcC+aZNrKsKzjUf557czsibeJJ+aj/pDoXZH7/yIXTTBFag=="
                  description: Encrypted with RSA public key defined in "encryption_key" parameter, returned from "GET /v1/{account_provider}/connect" method. Encryption must use OAEP padding scheme.
                  type: string
                api_secret:
                  example: "ZvOw93HYUX+U/HnbzR+t5dR/dcxMa2XoTzDwJYXWWLStMAh1T29ESF4qfx0vIqKUl25TyPfZotYtHhIkUc34HcNgVZs4obTZLKdiqExIJSW6bHN28gG3WqRWDVBUZCmMJ4/CD7f3hBMMQVFvUxvgxkwpHWsjZRBE2C6WX3tRjHuEWMHdBOPsVfT+AjfbU0W+yEQLD7YsdFZZg2PAxU1dIFCotNVzSd7Z10AGYvAj28M4Dh802WADdJGxYXHRtDufEmphwJQKMIF5fIkXWcnjLKgpBkhLKXk5ZDLwRU+FkyfKJCPjvobqV21lv7Yd23nVbl9kt+0Lr8XtC7Aq+c4KMA=="
                  description: Encrypted with RSA public key defined in "encryption_key" parameter, returned from "GET /v1/{account_provider}/connect" method. Encryption must use OAEP padding scheme.
                  type: string
                password:
                  example: "kPqHhJYlnRl8zrVVYek5c+OerrxnLL1+o5TYbXc45jVNenvdxbeGKhObXofHFm+8NYw0SIwXi1V6Vb0/F1tba64pVzClBBWyI+1F0qMg2+iF0ZhSS4A0l8wMrBTjHXTxok+cuM9nwvikCsG64XJvyQJD2OzaX42j0gXef3ocOkUv3SuU745ZuTFOkh574uzNoowRc68KUPX+XG2b4fvD0cn2gBhkbusFSEPshqL5QfqAubXnYT1sHPLL2mBqZYM3FzVBi2NOfo3qM7LKzS1X1zjKocCIro7rMEHJfWEpmw+GUgOGJZqseAvYXcQRu5gjrk9tl/Jfr7r4Zph7nPYkEQ=="
                  description: Encrypted with RSA public key defined in "encryption_key" parameter, returned from "GET /v1/{account_provider}/connect" method. Encryption must use OAEP padding scheme.
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - wallet_id
                properties:
                  wallet_id:
                    example: "43d03509-6243-455c-9321-9b1d2705b19f:93f77e4d-f320-4b8e-9245-55723da7f38e"
                    type: string
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Account wallet already connected.
                    type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{exchange_provider}/account/{account_id}/payment:
    delete:
      summary: Remove exchange payment account
      operationId: RemoveExchangePaymentAccount
      tags:
        - Payments - transaction initiation
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: exchange_provider
          required: true
          schema:
            enum:
              - exchange/binance
              - exchange/coinbase
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
        - description: Wallet ID
          in: query
          name: wallet_id
          required: true
          schema:
            type: string
            example: "43d03509-6243-455c-9321-9b1d2705b19f:93f77e4d-f320-4b8e-9245-55723da7f38e"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{exchange_provider}/account/{account_id}/payment/initialize:
    post:
      summary: Initialize payment from exchange
      operationId: InitializeExchangePayment
      tags:
        - Payments - transaction initiation
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: exchange_provider
          required: true
          schema:
            enum:
              - exchange/binance
              - exchange/coinbase
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet_id
                - destination_address
                - amount
                - currency
              properties:
                wallet_id:
                  example: "43d03509-6243-455c-9321-9b1d2705b19f:93f77e4d-f320-4b8e-9245-55723da7f38e"
                  type: string
                destination_address:
                  example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                  type: string
                amount:
                  example: 0.5
                  type: number
                currency:
                  example: BTC
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - mfa_id
                  - nonce
                properties:
                  mfa_id:
                    example: "77d4efb7-0cbd-4548-b0b5-cd05b016dfcc"
                    type: string
                  nonce:
                    example: "cbd3dc6f-d5b0-447d-8487-c0e7254ab127"
                    type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{exchange_provider}/account/{account_id}/payment/authorize:
    post:
      summary: Authorize payment from exchange
      operationId: AuthorizeExchangePayment
      tags:
        - Payments - transaction initiation
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: exchange_provider
          required: true
          schema:
            enum:
              - exchange/binance
              - exchange/coinbase
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet_id
                - destination_address
                - amount
                - currency
                - nonce
                - mfa_id
                - otp
                - password
              properties:
                wallet_id:
                  example: "43d03509-6243-455c-9321-9b1d2705b19f:93f77e4d-f320-4b8e-9245-55723da7f38e"
                  type: string
                destination_address:
                  example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                  type: string
                amount:
                  example: 0.5
                  type: number
                currency:
                  example: BTC
                  type: string
                nonce:
                  example: "cbd3dc6f-d5b0-447d-8487-c0e7254ab127"
                  type: string
                mfa_id:
                  example: "77d4efb7-0cbd-4548-b0b5-cd05b016dfcc"
                  type: string
                otp:
                  example: 123456
                  type: string
                password:
                  example: "kPqHhJYlnRl8zrVVYek5c+OerrxnLL1+o5TYbXc45jVNenvdxbeGKhObXofHFm+8NYw0SIwXi1V6Vb0/F1tba64pVzClBBWyI+1F0qMg2+iF0ZhSS4A0l8wMrBTjHXTxok+cuM9nwvikCsG64XJvyQJD2OzaX42j0gXef3ocOkUv3SuU745ZuTFOkh574uzNoowRc68KUPX+XG2b4fvD0cn2gBhkbusFSEPshqL5QfqAubXnYT1sHPLL2mBqZYM3FzVBi2NOfo3qM7LKzS1X1zjKocCIro7rMEHJfWEpmw+GUgOGJZqseAvYXcQRu5gjrk9tl/Jfr7r4Zph7nPYkEQ=="
                  description: Encrypted with RSA public key defined in "encryption_key" parameter, returned from "GET /v1/{account_provider}/connect" method. Encryption must use OAEP padding scheme.
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  #
  # Payments - crypto savings
  #
  /v1/{onchain_provider}/payment/seed:
    get:
      summary: Generate random seed for wallet creation
      operationId: GenerateSeed
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - seed
                properties:
                  seed:
                    example: 07ced2ea553fc878f8c0cae3a1e56a1db28610601602c98f590f2cc2782588f9
                    type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
  /v1/{onchain_provider}/payment/connect:
    post:
      summary: Create new onchain payment account
      operationId: CreateOnchainPaymentAccount
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - user_xpub_key
                - description
                - payment_start
                - payment_frequency
              properties:
                user_xpub_key:
                  type: string
                  example: xpub661MyMwAqRbcEga7dhKTyetKZ1AVQdwmMTpWMMdsZaVNPMyA27nNqqydpVo5aHzTAZH74oXLcfevhrQ1NAfvSPuhU9Lq4W3XrDuAWkkYyAh
                description:
                  type: string
                  example: some-description
                payment_start:
                  type: integer
                  example: 1697760000
                  description: represented in seconds since 1.1.1970
                payment_frequency:
                  type: integer
                  example: 604800
                  description: represented in seconds
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                  - wallet
                  - description
                  - verified
                  - client_derivation_path
                  - user_derivation_path
                properties:
                  id:
                    type: string
                    example: 163b6df1-dc0b-4086-8922-6068fe1e653d
                  name:
                    type: string
                    example: some-name
                  wallet:
                    type: string
                    example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                  description:
                    type: string
                    example: some-description
                  verified:
                    type: boolean
                    example: false
                  client_derivation_path:
                      example: m/44/0/0/0/1
                      type: string
                  user_derivation_path:
                    example: m/44/0/0/0/1
                    type: string
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Account wallet already connected
                    type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
  /v1/{onchain_provider}/account/{account_id}/payment:
    get:
      summary: Get payment account details
      operationId: GetPaymentAccountDetails
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - wallet
                  - description
                  - verified
                  - payment_start
                  - payment_frequency
                  - client_derivation_path
                  - user_derivation_path
                  - redeem_script
                  - withdrawals
                properties:
                  name:
                    type: string
                    example: some-name
                  wallet:
                    type: string
                    example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                  description:
                    type: string
                    example: some-description
                  verified:
                    type: boolean
                    example: false
                  payment_start:
                    type: integer
                    example: 1697760000
                    description: represented in seconds since 1.1.1970
                  payment_frequency:
                    type: integer
                    example: 604800
                    description: represented in seconds
                  client_derivation_path:
                    example: m/44/0/0/0/1
                    type: string
                  user_derivation_path:
                    example: m/44/0/0/0/1
                    type: string
                  redeem_script:
                    example: 630190b2752103742f0e5984c3a181ce3838aa8ad2e53f702290add5a25e14fdda5f0f846dbe51ad516752682102aa9650dc0065243bb0bb35ee63235c51c8f99b7bc701d13091366b9cf45ab66b2102b2ec0b8a11e9ef3179f3e7876e39d7add67a7089bf11484100da52310a9f6fd352ae
                    type: string
                  withdrawals:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - currency
                        - amount
                        - state
                      properties:
                        id:
                          example: 163b6df1-dc0b-4086-8922-6068fe1e653d
                          type: string
                        currency:
                          example: USD
                          type: string
                        amount:
                          example: 100
                          type: number
                          minimum: 0
                        state:
                          example: 1
                          type: integer
                          description: 0 - withdrawal was initialized. 1 - off-ramp process was finished. 2 - at least one signature was provided
                          enum:
                            - 0
                            - 1
                            - 2
                        deposit_address:
                          example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                          type: string
                          description: provided when state is 1 or 2
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{onchain_provider}/account/{account_id}/payment/deposit:
    post:
      summary: Deposit money to cryptocurrency wallet
      operationId: DepositToAddress
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - fiat_currency
                - fiat_amount
              properties:
                fiat_currency:
                  example: USD
                  type: string
                fiat_amount:
                  example: 100
                  type: number
                  minimum: 0
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - redirect_uri
                properties:
                  redirect_uri:
                    example: https://global.transak.com/?apiKey=test&cryptoCurrencyCode=btc&walletAddress=bc1qt4n63nrrsugxxel508nymalg667uqssyrufe8pkpl8v8a0zv0vfqx5yeze&fiatCurrency=eur&fiatAmount=200.0&productsAvailed=BUY&countryCode=en
                    type: string
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Amount must be positive value
                    type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{onchain_provider}/account/{account_id}/payment/initialize:
    post:
      summary: Initialize withdrawal from cryptocurrency wallet
      operationId: InitializeWithdraw
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - fiat_currency
                - crypto_amount
              properties:
                fiat_currency:
                  example: USD
                  type: string
                crypto_amount:
                  example: 0.5
                  type: number
                  minimum: 0
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - withdraw_id
                  - redirect_uri
                properties:
                  withdraw_id:
                    example: 33265e01-5f43-45e7-ad94-cd73bb83c154
                    type: string
                  redirect_uri:
                    example: https://global.transak.com/?apiKey=test&cryptoCurrencyCode=btc&cryptoAmount=0.5&fiatCurrency=eur&partnerOrderId=33265e01-5f43-45e7-ad94-cd73bb83c154&redirectURL=http%3A%2F%2Fapi.blockmate.io%2Fv1%2Fonchain%2Fbtc%2Faccount%2F163b6df1-dc0b-4086-8922-6068fe1e653d%2Fpayment%2Fwebhook&productsAvailed=SELL&countryCode=en
                    type: string
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Amount must be positive value
                    type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{onchain_provider}/account/{account_id}/payment/authorize:
    post:
      summary: Authorize withdrawal from cryptocurrency wallet
      operationId: AuthorizeWithdraw
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              type: object
              required:
                - withdraw_id
                - signatures
                - threshold
              properties:
                withdraw_id:
                  example: 33265e01-5f43-45e7-ad94-cd73bb83c154
                  type: string
                signatures:
                  type: array
                  items:
                    type: string
                    description: Encrypted with RSA public key defined in "encryption_key" parameter, returned from "GET /v1/{account_provider}/connect" method. Encryption must use OAEP padding scheme.
                    example: "LGo7JVeKfH85F7Tec7O7z7PH8RM4Fvm2F8I24H4rL3KlGusDaC8BJIrKxeSHmpozqghvQTKrneHsmPDTTyvX/CWfUoaLPkK124VkPGXa90fAqnJgWboHoIftKSr+QpnAMmxkB6xB0JZDLgD1qKIfJ0CpgjzOH+Ys9rCLw2RSoHirhg1gI+Xbu0LjNqMHrPl3kx5Liy6SdPfHmOesNjGwmyP3TfA01bvQpAZnGj2brrEP5I/WZVqcI5RknOGFG3BbpybBGyQEndyafv4wcXvY3j5Gn+Q0QnoJFIgt8GyWxdHoeSw2/atOBqmwZDirpxUyOFMrdwZus3CnKLr2/7EwHQ=="
                threshold:
                  example: 2
                  type: integer
                  minimum: 2
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not Found
  /v1/{onchain_provider}/payment/accounts:
    get:
      summary: Get payment accounts
      operationId: GetPaymentAccounts
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
        - name: skip
          in: query
          description: Number of items to skip for paging purposes
          schema:
            type: integer
            example: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            example: 50
            minimum: 0
            maximum: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - wallet
                    - name
                    - description
                    - verified
                    - client_derivation_path
                    - user_derivation_path
                  properties:
                    id:
                      example: 163b6df1-dc0b-4086-8922-6068fe1e653d
                      type: string
                    wallet:
                      example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                      type: string
                    name:
                      example: btc
                      type: string
                    description:
                      example: some-description
                      type: string
                    verified:
                      example: false
                      type: boolean
                    client_derivation_path:
                      example: m/44/0/0/0/1
                      type: string
                    user_derivation_path:
                      example: m/44/0/0/0/1
                      type: string
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
  /v1/{onchain_provider}/payment/withdrawals:
    get:
      summary: Get payment withdrawals
      operationId: GetPaymentWithdrawals
      tags:
        - Payments - crypto savings
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: onchain_provider
          required: true
          schema:
            enum:
              - onchain/btc
              - onchain/eth
            example: onchain/btc
        - name: skip
          in: query
          description: Number of items to skip for paging purposes
          schema:
            type: integer
            example: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            example: 50
            minimum: 0
            maximum: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - currency
                    - amount
                    - state
                  properties:
                    id:
                      example: 163b6df1-dc0b-4086-8922-6068fe1e653d
                      type: string
                    currency:
                      example: USD
                      type: string
                    amount:
                      example: 100
                      type: number
                      minimum: 0
                    state:
                      example: 1
                      type: integer
                      description: 0 - withdrawal was initialized. 1 - off-ramp process was finished. 2 - at least one signature was provided
                      enum:
                        - 0
                        - 1
                        - 2
                    deposit_address:
                      example: bc1qehppjga79h55swhar8aw0z6gdhycsj2nmrtfxz
                      type: string
                      description: provided when state is 1 or 2
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    example: Invalid token or expired token.
                    type: string
  #
  # Aggregated info
  #
  /v1/aggregate/account_providers:
    get:
      summary: Get list of account providers
      operationId: AccountProvidersList
      security:
        - UserJWT: [ ]
      tags:
        - Aggregated info
      responses:
        200:
          description: List of account providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountProvider"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: missing key in request header
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Unauthorized
                    type: string
  /v1/aggregate/account_provider_hints:
    get:
      summary: Get list of account providers hints
      operationId: AccountProviderHintsList
      security:
        - UserJWT: [ ]
      tags:
        - Aggregated info
      responses:
        200:
          description: List of account providers hints
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountProviderHint"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: missing key in request header
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Unauthorized
                    type: string
  /v1/aggregate/accounts:
    get:
      summary: List accounts
      operationId: Accounts
      security:
        - UserJWT: [ ]
      tags:
        - Aggregated info
      responses:
        200:
          description: List of user accounts.
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Account
                  description: Represents an account.
                  required:
                    - id
                    - name
                    - description
                    - verified
                    - type
                    - url
                  type: object
                  properties:
                    id:
                      example: 4cf7cf36-52a2-11ec-85b8-00155de33000
                      type: string
                    name:
                      example: btc
                      type: string
                    description:
                      example: My account
                      type: string
                    verified:
                      example: true
                      type: boolean
                    type:
                      example: crypto_wallet
                      type: string
                      enum:
                        - crypto_wallet
                        - crypto_exchange
                        - crypto_nft
                    url:
                      example: onchain/bitcoin/account/4cf7cf36-52a2-11ec-85b8-00155de33000
                      type: string
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: missing key in request header
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Unauthorized
                    type: string
  /v1/aggregate/balance:
    get:
      summary: Get balance
      operationId: Balance
      parameters:
        - name: currency
          in: query
          schema:
            type: string
            example: USD
          description: |
            Currency to convert to.
        - name: account-filter
          in: query
          schema:
            type: string
            example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          description: |
            Filter results to only provided account.
            When omitted, it returns all transactions from all accounts.
      security:
        - UserJWT: [ ]
      tags:
        - Aggregated info
      responses:
        200:
          description: Cumulated balance for user accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    title: Balance response
                    description: Represents a response from aggregated balance request.
                    type: object
                    required:
                      - balance_sum
                      - accounts
                    properties:
                      balance_sum:
                        type: array
                        items:
                          '$ref': '#/components/schemas/Amount'
                      accounts:
                        type: array
                        items:
                          type: object
                          required:
                            - account_id
                            - description
                            - type
                            - balance
                            - state
                            - name
                            - verified
                            - url
                          properties:
                            account_id:
                              type: string
                              example: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
                            description:
                              type: string
                              example: My account
                            type:
                              type: string
                              enum:
                                - crypto_wallet
                                - crypto_exchange
                                - crypto_nft
                            balance:
                              type: array
                              items:
                                '$ref': '#/components/schemas/Amount'
                            state:
                              type: object
                              properties:
                                last_sync:
                                  type: string
                                  example: 2022-07-21T09:21:37.384496+00:00
                                  description: null if initial sync was not yet done
                                  nullable: true
                            name:
                              type: string
                              example: some-name
                            verified:
                              type: boolean
                              example: true
                            url:
                              type: string
                              example: some-url
                required:
                  - balance
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: missing key in request header
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Unauthorized
                    type: string
  /v1/aggregate/transactions:
    get:
      summary: Get transactions
      operationId: Transactions
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date
            pattern: "^[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
            example: 2020-01-01
          description: |
            Set time from which the transactions will be get.
        - name: until
          in: query
          schema:
            type: string
            format: date
            pattern: "^[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
            example: 2020-02-01
          description: |
            Set time to which the transactions will be get.
            The default value is the actual date.
        - name: limit
          in: query
          schema:
           type: number
           example: 10
          description: |
            Limit the number of the transactions in the response.
            Default page size is 50.
        - name: cursor
          in: query
          schema:
            type: string
          description: |
            Specify on requesting the next page. Use the `page_cursor` from the previous response.
        - name: currency
          in: query
          schema:
            type: string
            example: USD
          description: |
            Currency to convert to.
        - name: account-filter
          in: query
          schema:
            type: string
            example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          description: |
            Filter results to only provided account.
            When omitted, it returns all transactions from all accounts.
      security:
        - UserJWT: [ ]
      tags:
        - Aggregated info
      responses:
        200:
          description: Get user transactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_cursor:
                    type: string
                    description: Use this as `cursor` in the next request to get the next page. The `page_cursor` has a one hour validity.
                  accounts:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - description
                        - verified
                        - type
                        - state
                      properties:
                        id:
                          example: 0940bb4a-0940-11ed-9ed1-00155d5116f0
                          type: string
                        description:
                          example: My account
                          type: string
                        verified:
                          example: true
                          type: boolean
                        type:
                          example: crypto_wallet
                          type: string
                          enum:
                            - crypto_wallet
                            - crypto_exchange
                            - crypto_nft
                        state:
                          type: object
                          properties:
                            last_sync:
                              type: string
                              example: 2022-07-21T09:21:37.384496+00:00
                              description: null if initial sync was not yet done
                              nullable: true
                  transactions:
                    type: array
                    items:
                      title: Transaction
                      description: Represents a transaction.
                      type: object
                      required:
                        - account_id
                        - transaction_id
                        - type
                        - amount
                        - total
                        - fee
                        - created_at
                        - inputs
                        - outputs
                      properties:
                        account_id:
                          type: string
                          example: 0940bb4a-0940-11ed-9ed1-00155d5116f0
                        transaction_id:
                          type: string
                          example: "0xf77c19d9333bb26fd9d6773a18a8b5fd145e2fbb514ff2879cb478e13e2f8c23"
                        type:
                          type: string
                          example: crypto_wallet
                          enum:
                            - crypto_wallet
                            - crypto_exchange
                            - crypto_nft
                        side:
                          type: string
                          example: some-side
                        amount:
                          type: array
                          items:
                            '$ref': '#/components/schemas/Amount'
                        total:
                          type: array
                          items:
                            '$ref': '#/components/schemas/Amount'
                        fee:
                          type: array
                          items:
                            '$ref': '#/components/schemas/Amount'
                        created_at:
                          type: string
                          example: 2022-07-21T09:21:37.384496+00:00
                        inputs:
                          type: array
                          items:
                            '$ref': '#/components/schemas/Movement'
                        outputs:
                          type: array
                          items:
                            '$ref': '#/components/schemas/Movement'
                required:
                  - transactions
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: missing key in request header
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Unauthorized
                    type: string
  /v1/aggregate/nft_metadata:
    get:
      summary: Get NFT metadata
      operationId: NFTMetadata
      security:
        - UserJWT: [ ]
      tags:
        - Aggregated info
      responses:
        200:
          description: Get NFT metadata.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: The response format is dependent on a third-party, so it can change in the future.
                  properties:
                    ownedNfts:
                      type: array
                      items:
                        $ref: '#/components/schemas/OwnedNft'
                    totalCount:
                      type: string
                      description: 'String - Total number of NFTs owned by the given address.'
                    blockHash:
                      type: string
                      description: 'String - The canonical head block hash of when your request was received'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: missing key in request header
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Unauthorized
                    type: string
  #
  # Risk info
  #
  /v1/risk/score:
    get:
      summary: Get address risk score
      operationId: GetAddressRiskScore
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: address
          in: query
          description: Address for which risk should be returned
          schema:
            type: string
            example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
        - name: chain
          in: query
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
                  risk:
                    type: integer
                    example: 85
                    minimum: 0
                    maximum: 100
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
    post:
      summary: Get multiple risk scores for addresses
      operationId: GetMultipleAddressRiskScore
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: chain
          in: query
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      requestBody:
        description: Addresses for which risk should be returned (maximum of 5000 in one request)
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  x-additionalPropertiesName: address
                  type: integer
                  description: risk
                example:
                  bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq: 10
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/risk/score/details:
    get:
      summary: Get address risk score details
      operationId: GetAddressRiskScoreDetails
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: address
          in: query
          description: Address for which risk should be returned
          schema:
            type: string
            example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
        - name: chain
          in: query
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AddressRiskReport'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/risk/score/details/{case_id}:
    get:
      summary: Get address risk score case
      operationId: GetAddressRiskScoreCase
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - description: Case identifier
          in: path
          name: case_id
          required: true
          schema:
            type: string
            example: 7c656013-5e9b-4c71-8322-6562c5a9b34c
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AddressRiskReport'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        404:
          description: Not found
  /v1/risk/transaction/score:
    get:
      summary: Get transaction risk score
      operationId: GetTransactionRiskScore
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: transaction
          in: query
          description: Transaction hash for which risk should be returned
          schema:
            type: string
            example: "0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205"
        - name: chain
          in: query
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    type: string
                    example: "0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205"
                  risk:
                    type: integer
                    example: 85
                    minimum: 0
                    maximum: 100
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/risk/transaction/score/details:
    get:
      summary: Get transaction risk score details
      operationId: GetTransactionRiskScoreDetails
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: transaction
          in: query
          description: Transaction hash for which risk should be returned
          schema:
            type: string
            example: "0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205"
        - name: chain
          in: query
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/TransactionRiskReport'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/risk/transaction/score/details/{case_id}:
    get:
      summary: Get transaction risk score case
      operationId: GetTransactionRiskScoreCase
      tags:
        - Risk info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - description: Case identifier
          in: path
          name: case_id
          required: true
          schema:
            type: string
            example: 7149168f-ad69-4fc9-b027-a16b0ca13081
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/TransactionRiskReport'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  #
  # Exchange rate info
  #
  /v1/exchangerate/current:
    get:
      summary: Get current exchange rate
      operationId: GetCurrentExchangeRate
      tags:
        - Exchange rate info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: pairs
          in: query
          required: true
          description: Currency pairs for which exchange rate should be returned (max 20 per request)
          schema:
            type: string
            example: "ETH/USD,BTC/EUR"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  '$ref': '#/components/schemas/ExchangeRate'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/exchangerate/history:
    get:
      summary: Get historical exchange rate
      operationId: GetHistoricalExchangeRate
      tags:
        - Exchange rate info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: pair
          in: query
          required: true
          description: Currency pair for which exchange rates should be returned
          schema:
            type: string
            example: "ETH/USD"
        - name: days
          in: query
          required: true
          description: Historical dates for which exchange rates should be returned (max 40 per request)
          schema:
            type: string
            example: "2022-06-30,2022-06-29"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  '$ref': '#/components/schemas/ExchangeRate'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  #
  # Address name info
  #
  /v1/addressname/simple:
    get:
      summary: Get address name and category info for single address
      operationId: GetAddressNameInfoSingle
      tags:
        - Address name and category info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: address
          in: query
          required: true
          description: Address for which name and category should be returned
          schema:
            type: string
            example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
        - name: chain
          in: query
          required: true
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: some-name
                  category:
                    type: string
                    example: some-category
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/addressname/multi:
    post:
      summary: Get address name and category info for multiple addresses
      operationId: GetAddressNameInfoMulti
      tags:
        - Address name and category info
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: chain
          in: query
          required: true
          description: Blockchain identifier
          schema:
            type: string
            example: btc
      requestBody:
        description: Addresses for which name and category should be returned (maximum of 5000 in one request)
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: "bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  x-additionalPropertiesName: address
                  type: object
                  properties:
                    name:
                      type: string
                      example: some-name
                    category:
                      type: string
                      example: some-category
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  #
  # ENS domains and addresses
  #
  /v1/ens/addressFromDomain:
    get:
      summary: Get address for specified ENS domain
      operationId: GetAddressFromDomain
      tags:
        - ENS
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: domain
          in: query
          required: true
          description: ENS domain for which Ethereum address should be returned
          schema:
            type: string
            example: "alice.eth"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    example: "0xcd2e72aebe2a203b84f46deec948e6465db51c75"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/ens/domainFromAddress:
    get:
      summary: Get domain and metadata for specified ENS address
      operationId: GetDomainFromAddress
      tags:
        - ENS
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      parameters:
        - name: address
          in: query
          required: true
          description: Ethereum address for which domain and metadata should be returned
          schema:
            type: string
            example: "0xcd2e72aebe2a203b84f46deec948e6465db51c75"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    example: "alice.eth"
                  metadata:
                    description: The response format is dependent on a third-party, so it can change in the future.
                    type: object
                    properties:
                      attributes:
                        type: array
                        items:
                          type: object
                          properties:
                            display_type:
                              type: string
                              example: "date"
                            trait_type:
                              type: string
                              example: "Created Date"
                            value:
                              oneOf:
                                - type: string
                                - type: integer
                              example: 1571297811000
                      background_image:
                        type: string
                        example: "https://metadata.ens.domains/mainnet/avatar/alice.eth"
                      description:
                        type: string
                        example: "alice.eth, an ENS name."
                      image:
                        type: string
                        example: "https://metadata.ens.domains/mainnet/0x57f1887a8BF19b14fC0dF6Fd9B2acc9Af147eA85/0x9c0257114eb9399a2985f8e75dad7600c5d89fe3824ffa99ec1c3eb8bf3b0501/image"
                      image_url:
                        type: string
                        example: "https://metadata.ens.domains/mainnet/0x57f1887a8BF19b14fC0dF6Fd9B2acc9Af147eA85/0x9c0257114eb9399a2985f8e75dad7600c5d89fe3824ffa99ec1c3eb8bf3b0501/image"
                      is_normalized:
                        type: boolean
                        example: true
                      name:
                        type: string
                        example: "alice.eth"
                      name_length:
                        type: integer
                        example: 5
                      segment_length:
                        type: integer
                        example: 5
                      url:
                        type: string
                        example: "https://app.ens.domains/name/alice.eth"
                      version:
                        type: integer
                        example: 0
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  #
  # Analytics
  #
  /v1/analytics/project/stats:
    get:
      summary: Get analytics focused on gaming for whole project
      operationId: GetProjectAnalytics
      description: Get analytics focused on gaming for whole project. All empty values are omitted from the response. Values are recalculated once per day.
      tags:
        - Analytics
      security:
        - UserJWT: [ ]
        - ProjectJWT: [ ]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Analytics'
        204:
          description: No Content (happens when at least one account is connected, but values were not recalculated yet)
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/analytics/user/stats:
    get:
      summary: Get analytics focused on gaming for this user
      operationId: GetUserAnalytics
      description: Get analytics focused on gaming for this user. All empty values are omitted from the response. Values are recalculated once per day.
      tags:
        - Analytics
      security:
        - UserJWT: [ ]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Analytics'
        204:
          description: No Content (happens when at least one account is connected, but values were not recalculated yet)
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/analytics/{account_provider}/stats:
    get:
      summary: Get analytics focused on gaming for specified provider
      operationId: GetProviderAnalytics
      description: Get analytics focused on gaming for specified provider. All empty values are omitted from the response. Values are recalculated once per day.
      tags:
        - Analytics
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: account_provider
          required: true
          schema:
            type: string
            example: onchain/btc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Analytics'
        204:
          description: No Content (happens when at least one account is connected, but values were not recalculated yet)
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
  /v1/analytics/{account_provider}/account/{account_id}/stats:
    get:
      summary: Get analytics focused on gaming for specified account and provider
      operationId: GetAccountAnalytics
      description: Get analytics focused on gaming for specified account and provider. All empty values are omitted from the response. Values are recalculated once per day.
      tags:
        - Analytics
      security:
        - UserJWT: [ ]
      parameters:
        - description: URL value from account_providers method
          in: path
          name: account_provider
          required: true
          schema:
            type: string
            example: onchain/btc
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
            example: 163b6df1-dc0b-4086-8922-6068fe1e653d
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        204:
          description: No Content (happens when account is connected, but values were not recalculated yet)
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: missing key in request header
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
[...]
